.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 1px 1px black;
}

form {
  font-weight: bold;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
  color: grey;
  font-weight: bold;
}

::placeholder {
  color: gray;
  font-weight: bold;
}

option {
  color: gray;
  font-weight: bold;
}

table {
  background-color: rgb(244, 244, 244);
  color: gray;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
}

.btn {
  margin-left: 45%;
}

#edit {
  background-color: greenyellow;
  color: white;
  position: absolute;
}

#dell {
  margin-left: 5px;
}

button {
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 1px;
  box-shadow: rgb(0, 0, 0) 5px 2px 5px 0px;
}

button:active {
  letter-spacing: 1px;
  box-shadow: rgb(0, 0, 0) 5px 2px 5px 0px;
  transform: translateY(2px);
}